<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      


      <div class="footer-col footer-col">
          <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            github :{% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          </ul>
      </div>

      <div class="footer-col footer-col">
          <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            twitter {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          </ul>
      </div>

     <div class="footer-col footer-col">
        <ul class="social-media-list">
        {% if site.facebook_username %}
        <li>
            facebook {% include icon-facebook.html username=site.facebook_username %}
        </li>
        {% endif %}
    </ul>
    </div>
    
    </div>

  </div>

</footer>
